<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coshe.dao.DataMapper">
    <select id="getDataList" resultType="com.coshe.pojo.Data">
        SELECT * FROM face_db.data
    </select>

    <select id="getDataByName" resultType="com.coshe.pojo.Data">
        SELECT * FROM face_db.data where name = #{name}
    </select>

    <select id="getDataById" resultType="com.coshe.pojo.Data">
        SELECT * FROM face_db.data where id = #{id}
    </select>

    <update id="updateDataPic">
        UPDATE face_db.data SET `pic`=#{picName} WHERE `number`=#{userName}
    </update>

</mapper>